<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section
      name="excelMl"
      type="PingDevelopment.ExcelML.Configuration.ExcelMlConfigSection, PingDevelopment.ExcelML, Language=neutral, Version=1.0.0.0"
      allowLocation="true"
      allowDefinition="Everywhere"
    />
  </configSections>
  <!-- 
    Valid values:
    - horizontalAlignment: Left, Center, Right
    - verticalAlignment: Top, Bottom, Center
    - color: RRGGBB
    - size: 16-24
    - bold: 0 or 1 (off or on)
    - number/formatString: General, Fixed, Currency, Percent, Fraction, Scientific,
                          #Excel Format String# (example: "0.000" or "0.000_);[Red]\(0.000\)")
    
  -->
  <excelMl>
    <default font="Arial" family="serif" size="10" color="000000" horizontalAlignment="Left" verticalAlignment="Center"/>
    <header bold="1"/>
    <data>
      <number formatString="Fixed"/>
      <string color="000000" />
      <date/>
    </data>
  </excelMl>
</configuration>